<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="margin-left: 20%;">
        <div class="card-header">
          <h5 class="title">Asignatura</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="panel-group" id="accordion" role="tablist">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <h4 class="panel-tittle">
                    <a href="#" data-toggle="collapse" data-parent="#accordion">
                      Encabezado
                    </a>

                  </h4>

                </div>
                <div id="collage1">
                  <div class="panel-boddy" class="panel-collapse collapse in">
                    Hola
                  </div>
                </div>



              </div>

            </div>
          </form>
        </div>
      </div>