<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="margin-left: 20%;">
        <div class="card-header">
          <h5 class="title">Solicitud</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12 pl-1" style="margin-left: 10px;">
                <div class="form-group">
                  <label for="email">Título Solicitud</label>
                  <input name="titulo" id="email" type="text" class="form-control" placeholder="Titulo solicitud">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Fecha</label>
                  <input type="text" class="form-control" placeholder="Fecha Solicitud" value="">
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Materia</label>
                  <input type="text" class="form-control" placeholder="Materia Solicitud" value="Base de Datos">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripción Solicitud</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Descripción de la Solicitud" ></textarea>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" style="margin-left: 38%;" >Solicitar Cambio</button>
            </form>
        </div>
      </div>


